.container {
  width: 400px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px 10px;
  border: 1px solid aquamarine;
}

.ele_container {
  display: flex;
  flex-direction: column;
}

.display {
  display: flex;
  flex-direction: column;

  height: 80px;
  margin: 1px;
  font-size: 40px;
  font-weight: 700;
}

.display_container {
  display: flex;
}

.box_container {
  display: flex;
  flex-direction: row;
  height: 60px;
  background-color: aquamarine;
  border: 1px solid white;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25%;

}
.equal {
  background-color: rgb(0, 255, 76);
}
.box:hover {
  background-color: rgb(2, 235, 2);
  cursor: pointer;
}
p {
  font-size: 30px;
  font-weight: 600;
  color: rgb(0, 127, 185);
  margin-left: 10px;
}
.spe {
  background-color: rgb(183, 255, 50);
}
h5{
  font-size: 12px;
  margin-top: 0px;
  margin-left: 10px;
}
.boxed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37.5%;
  background-color: rgb(183, 255, 50);
}
.boxed:hover {
  background-color: rgb(2, 235, 2);
  cursor: pointer;
}
